.hero {
  &--mobile {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    @media (min-width: 1000px) {
      display: none;
    }
  }
  &--desktop {
    width: 45vw;
    order: 2;
    object-fit: cover;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
