.header {
  padding: 1.5625rem;
  background-color: $color-white;

  @media (min-width: 62.5em) {
    background: transparent;
    margin-bottom: 8.75rem;
    width: 100%;
    max-width: 30.625rem;
  }

  &__logo {
    height: 1.2rem;
    width: auto;

    @media (min-width: 62.5em) {
      height: 2.5rem;
    }
  }
}
