.header {
  padding: 1.5625rem;
  background-color: $color-white;

  @media (min-width: 1000px) {
    background: transparent;
    margin-bottom: 140px;
    width: 100%;
    max-width: 30.625rem;
  }

  &__logo {
    height: 1.2rem;
    width: auto;

    @media (min-width: 1000px) {
      height: 2.5rem;
    }
  }
}
